.display-course{
    width: 400px;
    padding: 10px;
    background: #C2F9BB;
    margin: 10px;
    transition: 0.4s;
    border-radius: 15px;
    border: none;
}
.display-course:hover{
    transform: scale(1.03);
}
.icon-color{
    color: gold;
    
}
.rating{
    text-align: center;
}