.display-course{
    width: 400px;
    border: 2px solid black;
    padding: 10px;
    background: #C2F9BB;
    border-radius: 10px;
    margin: 10px;
    transition: transform .2s;
}
.display-course:hover{
    box-shadow: 10px 10px 5px #62C370;
    background-color: #62C370;
}
.icon-color{
    color: gold;
    
}
.rating{
    text-align: center;
}