.container{
    background-color: rgb(198, 223, 233)B;
    max-width: 100%;
}
.about-text{
    margin: auto;
    width: 50%;

}
.about-team{
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #9AD1D4;
    border-radius: 10px;
}