
.navLink {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: black;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
    border: 0px solid;
    background-color: Transparent;
}
.navLink:hover {
    color: rgb(221, 5, 5);
}
.navbar{
    display: grid;
    grid-template-columns: auto auto auto auto;
}