.icon {
    margin: 0px;
    background-color: #C2F9BB;
    /* border-radius: 5px; */
    color: black;
    font-size: 30px;
  }
  .icon:hover {
    background-color: rgb(250, 25, 25);
  }
  .footer-menu {
    list-style: none;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .footer-menu:hover {
    color: #62C370;
  }
  .footer-input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: gray;
  }
  .footer-container {
    background-color: #C2F9BB;
    padding: 50px;
    color: rgb(216, 209, 209);
  }
  .foter-phone-icon {
    font-size: 30px;
    color: red;
  }
  